.advantages {
	padding: 73px 0 65px;
	background-color: #F6F6F6;
	min-height: 473px;
	&__wrapper {
		margin-top: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 290px;
		text-align: center;
	}
	&__icon {
		margin-bottom: 30px;
	}
	&__subtitle {
		margin-bottom: 20px;
		color: #0D0D0D;
		font-size: 18px;
		font-weight: 700;
	}
	&__descr {
		color: #0D0D0D;
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		span {
			color: #FF0000;
			font-family: MuseoModerno;
			text-decoration: underline;
		}
	}
}