.button {
	width: 153px;
	height: 32px;
	border-radius: 5px;
	background-color: $main-color;
	border: none;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	&_main {
		margin-top: 67px;
		width: 300px;
		height: 50px;
		font-size: 16px;
	}
}