.carousel {
	padding: 81px 0;
	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;
	}
	.prev, .next {
		top: 50%;
		transform: translateY(-50%);
		left: -66px;
		position: absolute;
		border: none;
		background-color: #fff;
		img {
			width: 31px;
			height: 50px;
		}
	}
	.next {
		right: -66px;
		left: auto;
	}
	.tns-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}