.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .56);
	top: 0;
}
.modal {
	padding: 38px 40px 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 382px;
	min-height: 402px;
	background-color: #F2F2F2;
	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		color: $main-color;
		font-size: 41px;
		line-height: 21px;
		cursor: pointer;
	}
	&__subtitle {
		color: #0D0D0D;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
	}
	&__descr {
		color: #0D0D0D;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
	}
	&_mini {
		min-height: 140px;
	}
}

#consultation, #order, #thanks {
	display: none;
}