.promo {
	min-height: 650px;
	padding: 21px 0 93px;
	background: url("../img/promo_bg.png") center (center/cover) no-repeat;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}
	&__header {
		color: #FFF;
		font-size: 42px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 42px;
	}
	&__subheader {
		margin-top: 17px;
		color: #FFF;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 24px;
	}
	&__icons {
		margin-top: 65px;
		width: 425px;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 106px;
		color: #FFF;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link {
		color: #FFF;
		font-size: 16px;
		font-weight: 500;
		margin-top: 10px;
		a {
			text-transform: uppercase;
			text-decoration: underline;
			color: #FFF;
		}
	}
}